@font-face {
  font-family: "ChelseaMarket-Regular";
  src: url("../fonts/chelsea_market/ChelseaMarket-Regular.ttf"); }
@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Muli-Regular";
  font-size: 15px;
  margin: 0;
  color: #fff; }

input, textarea, select, button {
  font-family: "Muli-SemiBold"; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  display: flex; }
  .wrapper .image-holder {
    width: 50%; }
  .wrapper .form-inner {
    width: 50%; }

.image-holder {
background: black;
  background-size: cover; }
  .image-holder img {
    display: none; }

.form-inner {
  background: radial-gradient(circle,hsla(28,93%,78%,.36) 10%,#d9fcf6 100%);
  padding-top: 16.36vh;
  padding-left: 8vw;
  padding-right: 4vw; }

form {
  color: black;
  width: 100%; }

.form-header {
  text-align: left;
  margin-bottom: 39px; }

h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "ChelseaMarket-Regular"; }

label {
  margin-bottom: 11px;
  display: block; }

.form-group {
  margin-bottom: 26px;
  position: relative; }

.form-control {
  background-color: white;
  color: black;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 5px;
  display: block;
  width: 80%;
  height: 45px;
 
  padding: 0 19px;
  font-size: 17px; }
  .form-control.error {
    /* border-color: #fd677a !important; */
    background: url("../images/error.png") no-repeat center right 19px; }
  .form-control.valid {
    background: url("../images/valid.png") no-repeat center right 19px; }

.form-error {
  margin-top: 10px;
  display: inline-block; }

button {
  border: none;
  width: 80%;
  height: 46px;
  /* border-radius: 22.5px; */
  /* margin: auto; */
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff671b;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:hover {
    color: white; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.socials {
  text-align: center;
  margin-top: 59px; }

.socials-icon {
  display: inline-flex;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 19px;
  color: #fff;
  transition: all 0.5s ease;
  margin-right: 19px; }
  .socials-icon:hover {
    background: #fff;
    border: 1px solid transparent;
    color: #ff97a4; }
  .socials-icon:last-child {
    margin-right: 0; }

p {
  font-family: "Muli-SemiBold";
  color: #ffff66;
  margin-bottom: 22px; }

@media (max-width: 1500px) {
  .form-inner {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 8vw;
    padding-right: 4vw; } }
@media (max-width: 1199px) {
  .wrapper {
    flex-direction: column; }
    .wrapper .image-holder {
      width: 100%;
      height: 45vh; }
    .wrapper .form-inner {
      width: 100%;
      height: 55vh; }

  .form-inner {
    padding-left: 20vw;
    padding-right: 20vw; }

  button {
    width: 50%; } }
@media (max-width: 991px) {
  .wrapper .image-holder {
    height: 37vh; }
  .wrapper .form-inner {
    height: 63vh; }

  .socials {
    margin-top: 40px; }

  .form-header {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .wrapper .form-inner {
    height: auto; }
  .wrapper .image-holder {
    height: auto; }

  .image-holder img {
    display: block; }

  .form-inner {
    padding: 30px 20px; }

  button {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
.block-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}


.btn-google, .btn-fb{
	display: inline-block;
	border-radius: 1px;
	text-decoration: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	transition: background-color .218s, border-color .218s ,box-shadow .218s;
}
	.google-content, .fb-content{
		display: flex;
		align-items: center;
		width: 210px;
		height: 50px;
  }
		.logo{
			padding: 15px;
			height: inherit;
    }
		svg{
			width: 18px;
			height: 18px;
    }
		p{
			width: 100%;
			line-height: 1;
			letter-spacing: .21px;
			text-align: center;
			font-weight: 500;
			font-family: 'Roboto', sans-serif;
    }
	
.btn-google{
	background: #FFF;
}
	&:hover{
		box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  }
	&:active{
		background-color: #eee;
  }
	.google-content p{
		color: #757575;
	}
.btn-fb{
	padding-top: 1.5px;
	background: #4267b2;
}
	&:hover{
		box-shadow: 0 0 3px 3px rgba(#3b5998,.3);
  }
	&:active{
	background-color: #3b5998;
}
	.fb-content p{
		color: rgba(white, .87);
  }